h1{
    margin-right:30;
    color:white;
  
    padding:10;
}
.header{
    
    background-color:#007878;  
    display:flex;
    justify-content:space-between;

}
.header *{
    border:solid;

}
.menu{
    display:flex;
    justify-content:space-evenly;
    color: green;
    font-size:small;
}
h2,p{
    text-align: center;
}
.images{
    display:flex;
    justify-content:space-evenly;
    background-color:white;
    margin-top:50;
}
.item:hover img{
    opacity: 0.2;
}
.item{
    position: relative;
}
.item p{
    position: absolute;
    left:50%;
    top:50%;
    opacity:0;
    transform: translate(-50%,-50%);
}
.item:hover p{
    opacity: 1;
}
.footer{
    display:flex;
    justify-content:flex-end;
    margin-top: 100;
}
a:link{
   color: white;
    margin-right:7;
}
a:visited{
    color:red;
    border-color:white;
    margin-right:7;
 }